/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-block-guten-gallery-quote  {
  background: $red;
  border: 0.2rem solid $black;
  color: $black;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}

.nGY2GThumbnail {
  opacity: 1 !important;
}

.quote-button {
  padding: 7px 30px !important;
  background: rgb(7, 95, 61) !important;
  border-radius: 5px !important;
  box-shadow: 0px 2px 3px #808080 !important;
}